@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /** COLORS **/
    /* Primary */
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    /* Neutral */
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*,
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    line-height: 1.618;
    background-image: url(../img/bg-pattern-top-mobile.svg), url(../img/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
}

@media (min-width: 1100px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url(../img/bg-pattern-top-desktop.svg), url(../img/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    margin: 0;
}

.container {
    width: calc(100% - 3rem);
    max-width: 1100px;
    margin: 0 auto;
}

@media (min-width: 1100px) {
    .superior-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}

.info {
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 1100px) {
    .info {
        margin-top: 0;
        text-align: left;
    }
}

.info .title {
    color: var(--veryDarkMagenta);
    font-weight: 700;
    line-height: 1;
}

@media (min-width: 1100px) {
    .info .title {
        font-size: 40px;
        width: 60%;
    }
}

.info .description {
    margin-top: 1rem;
    color: var(--darkGrayishMagenta);
    font-weight: 500;
    font-size: 0.875rem;
}

@media (min-width: 1100px) {
    .info .description {
        width: 80%;
    }
}

.reviews {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1100px) {
    .reviews {
        margin-top: 0;
        align-items: flex-end;
    }
}

.review {
    background-color: var(--lightGrayishMagenta);
    border-radius: 1rem;
    padding: 1rem;
}

@media (min-width: 1100px) {
    .review {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 2rem;
        gap: 2rem;
        width: 450px;
    }

    .review:nth-child(2) {
        margin-right: 2.5rem;
    }

    .review:nth-child(1) {
        margin-right: 5rem;
    }
}

.review-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.review-text {
    margin-top: 0.75rem;
    text-align: center;
    font-weight: 700;
    color: var(--veryDarkMagenta);
    font-size: 0.875rem;
}

@media (min-width: 1100px) {
    .review-text {
        margin-top: 0;
        line-height: 1;
    }
}

.testimonials {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1100px) {
    .testimonials {
        margin: 4.5rem 0 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        align-items: flex-start;
    }
}

.testimonial {
    background-color: var(--veryDarkMagenta);
    border-radius: 1rem;
    padding: 2rem;
}

@media (min-width: 1100px) {

    .testimonial:nth-child(2) {
        margin-top: 1rem;
    }

    .testimonial:nth-child(3) {
        margin-top: 2rem;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-img {
    margin-right: 1.5rem;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
} 

.username {
    font-weight: 700;
    color: var(--lightGrayishMagenta);
    font-size: 0.875rem;
}

.username span {
    display: block;
    color: var(--softPink);
    font-weight: 400;
}

blockquote {
    margin-top: 1.5rem;
    color: var(--lightGrayishMagenta);
    font-weight: 400;
    font-size: 14px;
}